
@media only screen and  (orientation: landscape) {

    .overlay {
        display: none;
    }

    .gamePanel{
        display: flex !important;
    }

    .topPanel{
        display: flex !important;
    }
}



@media only screen and (max-width: 1024px) and (max-aspect-ratio: 1/1) {
    canvas {
        width: 100%;
        border-radius: 0px;
    }

    h1{
        display: none;
    }

    .startScreen {
        width: 100%;
        border-radius: 0;
        transform: translateY(-50%);
        /* background-size: contain; */
        background-repeat: no-repeat;
    }
}


@media (max-width: 1024.1px) {
    .headline{
        display: none;
    }

    .gameOver{
        transform: translate(-50%, -50% );
    }
}


@media (min-width: 1024.1px) {
    .gamePanel {
        display: none !important;
    }

    .topPanel {
        display: none !important;
    }

    
}

@media only screen and (max-width: 1024px) and (min-aspect-ratio: 1/1) {
    canvas {
        width: 100%;
        border-radius: 0px;
    }

    h1 {
        display: none;
    }

    .startScreen {
        width: 100%;
        border-radius: 0;
        transform: translateY(-50%);
    }


}





@media only screen and (max-height: 480px) {
    canvas {
        height: 80dvh;
        border-radius: 0px;
        box-shadow: 0px 0px 40px 0px #FDEAD5;
    }

    h1 {
        display: none;
    }

    .startScreen {
        height: 100dvh;
        border-radius: 0;
    }
}


@media only screen and (max-width: 1024px) {
    .introductions {
        display: none;
    }
}



/* SpeechBubble Iphone XR */
@media only screen and (max-height: 420px) {
    .speech {
        top: 10%;
    }

    .bubble {

        width: 350px;
    }

    .textArea {
        font-size: 14px;
        width: 350px;
    }
}


/* SpeechBubble Iphone SE */
@media only screen and (max-height: 380px) {
    .speech {
        top: 10%;
    }

    .bubble {
        height: 227px;
        width: 264px;
    }

    .textArea {
        font-size: 12px;
        width: 264px;
    }
}

@media only screen and (max-width: 950px) {
    .bubble {
        width: 375px;
    }

    .textArea {
        font-size: 14px;
        width: 375px;
    }
}

@media only screen and (max-width: 900px) {
    .bubble {
        width: 350px;
    }

    .textArea {
        font-size: 14px;
        width: 350px;
    }
}

@media only screen and (max-width: 850px) {
    .speech {
        top: 10%;
    }

    .bubble {
        width: 325px;
    }

    .textArea {
        font-size: 14px;
        width: 325px;
    }
}

@media only screen and (max-width: 800px) {
    .speech {
        top: 7%;
    }

    .bubble {
        width: 300px;
    }

    .textArea {
        font-size: 13px;
        width: 300px;
    }
}

@media only screen and (max-width: 750px) {
    .speech {
        top: 7%;
    }

    .bubble {
        width: 275px;
        height: 227px;

    }

    .textArea {
        font-size: 13px;
        width: 275px;
    }
}

@media only screen and (max-width: 700px) {
    .speech {
        top: 7%;
    }

    .bubble {
        width: 255px;
        height: 227px;

    }

    .textArea {
        font-size: 11px;
        width: 250px;
        top: 10%;

    }
}

@media only screen and (max-width: 650px) {
    .speech {
        top: 7%;
    }

    .bubble {
        width: 225px;
        height: 190px;

    }

    .textArea {
        font-size: 10px;
        width: 225px;
        top: 8%;

    }
}

@media only screen and (max-width: 600px) {
    .speech {
        top: 5%;
    }

    .bubble {
        width: 215px;
        height: 170px;

    }

    .textArea {
        font-size: 9.5px;
        width: 215px;
        top: 8%;

    }
}

@media only screen and (max-width: 550px) {
    .speech {
        top: 5%;
    }

    .bubble {
        width: 215px;
        height: 170px;

    }

    .textArea {
        font-size: 9.5px;
        width: 215px;
        top: 8%;

    }
}

@media only screen and (max-width: 500px) {
    .speech {
        top: 3%;
    }

    .bubble {
        width: 200px;
        height: 145px;

    }

    .textArea {
        font-size: 8px;
        width: 200px;
        top: 8%;

    }
}

@media only screen and (max-width: 450px) {
    .speech {
        top: 3%;
    }

    .bubble {
        width: 175px;
        height: 145px;

    }

    .textArea {
        font-size: 8px;
        width: 175px;
        top: 8%;

    }
}

@media only screen and (max-width: 400px) {
    .speech {
        top: 3%;
    }

    .bubble {
        width: 150px;
        height: 145px;

    }

    .textArea {
        font-size: 7px;
        width: 150px;
        top: 8%;

    }
}

@media only screen and (max-width: 350px) {
    .speech {
        top: 3%;
    }

    .bubble {
        width: 125px;
        height: 110px;

    }

    .textArea {
        font-size: 6px;
        width: 125px;
        top: 8%;

    }
}

.d-none {
    display: none;
}