* {
    box-sizing: border-box;
}

body {
    font-family: "doto", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    margin: 0;
    background-color: black;
    background-image: url('assets/images/background/canvas.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 54px;
    font-weight: 600;
    margin: 0;
    color: #444444;
    z-index: 1;
}

canvas {
    background-color: black;
    border-radius: 16px;
    box-shadow: 0px 0px 130px 79px #FDEAD5;
    display: block;
}






.startScreen {
    width: 1024px;
    aspect-ratio: 16/7.5;
    /* height: 480px; */
    border-radius: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-43%);
    background-image: url('./assets/images/9_intro_outro_screens/start/alienStartScreen.png');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;

}

.buttonSection {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 25%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.button {
    font-family: "doto", serif;
    font-weight: 700;
    font-size: 32px;
    border: none;
    background-color: #95C021;
    padding: 8px 0;
    /* width: 25%; */
    border-radius: 10px;
    cursor: pointer;
    /* position: fixed;
    left: 50%;
    bottom: 50%; */
    border: 1px solid black;
}
.button:hover{
    color: white;
    border: 1px solid white;
}

.legal{
    font-size: 16px;
    font-weight: 500;
    width: 80%;
    margin: 0 auto;
    padding: 4px 0;
}

.speech{
    position: fixed;
    left: 1%;
    top: 16%;
    height: 250px;
    width: 400px;
    transform: rotate(-10deg);
}

.d-none {
    display: none;
}

.introductions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 24px;
    position: fixed;
    bottom: -60px;
    padding: 0 24px;
    font-size: 24px;
    font-weight: 500;
}


@media only screen and (max-width: 1024px) and (max-aspect-ratio: 1/1) {
    canvas {
        width: 100%;
        border-radius: 0px;
    }

    h1 {
        display: none;
    }

    .startScreen {
        width: 100%;
        border-radius: 0;
        transform: translateY(-50%);
        /* background-size: contain; */
        background-repeat: no-repeat;
    }
}


@media only screen and (max-width: 1024px) and (min-aspect-ratio: 1/1) {
    canvas {
        width: 100%;
        border-radius: 0px;
    }

    h1 {
        display: none;
    }

    .startScreen {
        width: 100%;
        border-radius: 0;
        transform: translateY(-50%);
    }
}





@media only screen and (max-height: 480px) {
    canvas {
        height: 100dvh;
        border-radius: 0px;
    }

    h1 {
        display: none;
    }

    .startScreen {
        height: 100dvh;
        border-radius: 0;
    }
}