* {
    box-sizing: border-box;
}

body {
    font-family: "doto", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    margin: 0;
    background-color: black;
    background-image: url('assets/images/background/canvas.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}

#btnLeft, #btnRight, #btnSpace, #btnThrow {
    -webkit-touch-callout: none; 
    touch-action: none;
}

h1 {
    font-size: 54px;
    font-weight: 600;
    margin: 0;
    color: #444444;
    z-index: 1;
}

canvas {
    background-color: black;
    border-radius: 16px;
    box-shadow: 0px 0px 130px 79px #FDEAD5;
    display: block;
}

.headline{
    display: flex;
    width: 1024px;
    padding: 0 12px;
    justify-content: space-between;
    align-items: center;
}

.placeholder{
    width: 10%;
}


.startScreen {
    width: 1024px;
    aspect-ratio: 16/7.5;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-43%);
    background-image: url('./assets/images/9_intro_outro_screens/start/alienStartScreen.png');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;

}

.buttonSection {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 30%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.button {
    font-family: "doto", serif;
    font-weight: 700;
    font-size: clamp(12px, 2.5vw + .25rem, 28px);
    border: none;
    background-color: #95C021;
    padding: 8px 4px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
    text-wrap: nowrap;

}

.button:hover {
    color: white;
    border: 1px solid white;
    
}

.legal {
    font-size: clamp(10px, 1.5vw + .15rem, 18px);

    font-weight: 500;
    width: 80%;
    margin: 0 auto;
    padding: 4px 0;
}

.speech {
    position: fixed;
    left: 1%;
    top: 16%;
    transform: rotate(-10deg);
}

.bubble {
    height: 250px;
    width: 400px;
}

.textArea {
    position: fixed;
    top: 8%;
    left: 0%;
    font-size: 15px;
    margin: 0;
    width: 400px;
    text-align: center;

}

.textArea h2,
p {
    margin: 0;
}




.introductions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 24px;
    position: fixed;
    bottom: -45px;
    padding: 0 24px;
    font-size: clamp(12px, 2.5vw + .25rem, 22px);
    font-weight: 500;
}


.gamePanel {
    position: absolute;
    bottom: 5dvh;
    transform: translateY(50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2.5%;
}

.leftPanel,
.rightPanel {
    display: flex;
    width: 10%;
    justify-content: space-between;
}

.arrow {
    background-color: #95C021;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.volumeTopIcon{
    height: 48px;
    aspect-ratio: 1/1;
    z-index: 1;
}

.volumeTopIcon:hover{
    cursor: pointer;
    border: 3px solid darkorange;

}

.border{
 outline-offset: -2px;
    outline: 3px solid darkorange;
}

.arrow img {
    height: 28px;
    width: 28px;
    padding: 2px;
}

.topPanel {
    position: absolute;
    top: 5dvh;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 2.5%;
    display: flex;
    justify-content: end;

}

.topRight {
    display: flex;
    width: 10%;
    justify-content: end;

}

.overlay {
    position: absolute;
    height: 100dvh;
    width: 100dvw;
    background-color: rgba(0, 0, 0, .85);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    font-size: clamp(22px, 4vw + .5rem, 42px);
    font-weight: 700;
    gap: 42px;
}



.turnAnimation {
    animation: turn 1.5s ease-in-out infinite;
    height: 128px;
    aspect-ratio: 1/1;
}

.win{
    margin: 0 auto;
    z-index: 9;
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.gameOver{
    margin: 0 auto;
    z-index: 9;
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -43% );
    max-height: 480px;
}

@keyframes turn {
    from {
        transform: rotateZ(0);

    }

    to {
        transform: rotateZ(-45deg);

    }
}


.d-none {
    display: none;
}