* {
    box-sizing: border-box;
}

body {
    font-family: "doto", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    margin: 0;
    background-color: black;
    background-image: url('assets/images/background/canvas.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 54px;
    font-weight: 600;
    margin: 0;
    color: #444444;
    z-index: 1;
}

canvas {
    background-color: black;
    border-radius: 16px;
    box-shadow: 0px 0px 130px 79px #FDEAD5;
    display: block;
}






.startScreen {
    width: 1024px;
    aspect-ratio: 16/7.5;
    /* height: 480px; */
    border-radius: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-43%);
    background-image: url('./assets/images/9_intro_outro_screens/start/alienStartScreen.png');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;

}

.buttonSection {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 30%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.button {
    font-family: "doto", serif;
    font-weight: 700;
    font-size: clamp(12px, 2.5vw + .25rem, 28px);
    border: none;
    background-color: #95C021;
    padding: 8px 4px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
    text-wrap: nowrap;

}

.button:hover {
    color: white;
    border: 1px solid white;
}

.legal {
    font-size: clamp(10px, 1.5vw + .15rem, 18px);

    font-weight: 500;
    width: 80%;
    margin: 0 auto;
    padding: 4px 0;
}

.speech {
    position: fixed;
    left: 1%;
    top: 16%;
    transform: rotate(-10deg);
}

.bubble {
    height: 250px;
    width: 400px;
}

.textArea {
    position: fixed;
    top: 8%;
    left: 0%;
    font-size: 15px;
    margin: 0;
    width: 400px;
    text-align: center;

}

.textArea h2,
p {
    margin: 0;
}


.d-none {
    display: none;
}

.introductions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 24px;
    position: fixed;
    bottom: -45px;
    padding: 0 24px;
    font-size: clamp(12px, 2.5vw + .25rem, 22px);
    font-weight: 500;
}


.gamePanel {
    position: absolute;
    bottom: 5dvh;
    transform: translateY(50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2.5%;
}

.leftPanel,
.rightPanel {
    display: flex;
    width: 10%;
    justify-content: space-between;
}

.arrow {
    background-color: #95C021;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.arrow img {
    height: 28px;
    width: 28px;
    padding: 2px;
}

.topPanel {
    position: absolute;
    top: 5dvh;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 2.5%;
    display: flex;
    justify-content: end;

}

.topRight {
    display: flex;
    width: 10%;
    justify-content: end;

}

.overlay {
    position: absolute;
    height: 100dvh;
    width: 100dvw;
    background-color: rgba(0, 0, 0, .9);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    font-size: 28px;
    font-weight: 700;
    gap: 42px;
}



.turnAnimation {
    animation: turn 1.5s ease-in-out infinite;
    height: 128px;
    aspect-ratio: 1/1;
}


@keyframes turn {
    from {
        transform: rotateZ(0);

    }

    to {
        transform: rotateZ(-45deg);

    }
}

@media only screen and  (orientation: landscape) {

    .overlay {
        display: none;
    }
}

@media only screen and (max-width: 1024px) and (max-aspect-ratio: 1/1) {
    canvas {
        width: 100%;
        border-radius: 0px;
    }

    h1 {
        display: none;
    }

    .startScreen {
        width: 100%;
        border-radius: 0;
        transform: translateY(-50%);
        /* background-size: contain; */
        background-repeat: no-repeat;
    }



}


@media (min-width: 1024.1px) {
    .gamePanel {
        display: none;
    }

    .topPanel {
        display: none;
    }
}

@media only screen and (max-width: 1024px) and (min-aspect-ratio: 1/1) {
    canvas {
        width: 100%;
        border-radius: 0px;
    }

    h1 {
        display: none;
    }

    .startScreen {
        width: 100%;
        border-radius: 0;
        transform: translateY(-50%);
    }


}





@media only screen and (max-height: 480px) {
    canvas {
        height: 80dvh;
        border-radius: 0px;
        box-shadow: 0px 0px 40px 0px #FDEAD5;
    }

    h1 {
        display: none;
    }

    .startScreen {
        height: 100dvh;
        border-radius: 0;
    }
}


@media only screen and (max-width: 1024px) {
    .introductions {
        display: none;
    }
}



/* SpeechBubble Iphone XR */
@media only screen and (max-height: 420px) {
    .speech {
        top: 10%;
    }

    .bubble {

        width: 350px;
    }

    .textArea {
        font-size: 14px;
        width: 350px;
    }
}


/* SpeechBubble Iphone SE */
@media only screen and (max-height: 380px) {
    .speech {
        top: 10%;
    }

    .bubble {
        height: 227px;
        width: 264px;
    }

    .textArea {
        font-size: 12px;
        width: 264px;
    }
}

@media only screen and (max-width: 950px) {
    .bubble {
        width: 375px;
    }

    .textArea {
        font-size: 14px;
        width: 375px;
    }
}

@media only screen and (max-width: 900px) {
    .bubble {
        width: 350px;
    }

    .textArea {
        font-size: 14px;
        width: 350px;
    }
}

@media only screen and (max-width: 850px) {
    .speech {
        top: 10%;
    }

    .bubble {
        width: 325px;
    }

    .textArea {
        font-size: 14px;
        width: 325px;
    }
}

@media only screen and (max-width: 800px) {
    .speech {
        top: 7%;
    }

    .bubble {
        width: 300px;
    }

    .textArea {
        font-size: 13px;
        width: 300px;
    }
}

@media only screen and (max-width: 750px) {
    .speech {
        top: 7%;
    }

    .bubble {
        width: 275px;
        height: 227px;

    }

    .textArea {
        font-size: 13px;
        width: 275px;
    }
}

@media only screen and (max-width: 700px) {
    .speech {
        top: 7%;
    }

    .bubble {
        width: 255px;
        height: 227px;

    }

    .textArea {
        font-size: 11px;
        width: 250px;
        top: 10%;

    }
}

@media only screen and (max-width: 650px) {
    .speech {
        top: 7%;
    }

    .bubble {
        width: 225px;
        height: 190px;

    }

    .textArea {
        font-size: 10px;
        width: 225px;
        top: 8%;

    }
}

@media only screen and (max-width: 600px) {
    .speech {
        top: 5%;
    }

    .bubble {
        width: 215px;
        height: 170px;

    }

    .textArea {
        font-size: 9.5px;
        width: 215px;
        top: 8%;

    }
}

@media only screen and (max-width: 550px) {
    .speech {
        top: 5%;
    }

    .bubble {
        width: 215px;
        height: 170px;

    }

    .textArea {
        font-size: 9.5px;
        width: 215px;
        top: 8%;

    }
}

@media only screen and (max-width: 500px) {
    .speech {
        top: 3%;
    }

    .bubble {
        width: 200px;
        height: 145px;

    }

    .textArea {
        font-size: 8px;
        width: 200px;
        top: 8%;

    }
}

@media only screen and (max-width: 450px) {
    .speech {
        top: 3%;
    }

    .bubble {
        width: 175px;
        height: 145px;

    }

    .textArea {
        font-size: 8px;
        width: 175px;
        top: 8%;

    }
}

@media only screen and (max-width: 400px) {
    .speech {
        top: 3%;
    }

    .bubble {
        width: 150px;
        height: 145px;

    }

    .textArea {
        font-size: 7px;
        width: 150px;
        top: 8%;

    }
}

@media only screen and (max-width: 350px) {
    .speech {
        top: 3%;
    }

    .bubble {
        width: 125px;
        height: 110px;

    }

    .textArea {
        font-size: 6px;
        width: 125px;
        top: 8%;

    }
}