body {
    font-family: "Doto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    margin: 0;
    background-color: black;
    background-image: url('assets/images/background/canvas.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 54px;
    margin: 0;
    color: #444444;
    z-index: 1;
}

canvas {
    background-color: black;
    border-radius: 16px;
    box-shadow: 0px 0px 130px 79px #FDEAD5;
    display: block;
}

@media only screen and (max-width: 1024px) {
    canvas {
        width: 100%;
        border-radius: 0px;

    }

    h1 {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100dvh;
        border-radius: 0px;

    }

    h1 {
        display: none;
    }
}