body {
    font-family: "doto", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    margin: 0;
    background-color: black;
    background-image: url('assets/images/background/canvas.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 54px;
    font-weight: 600;
    margin: 0;
    color: #444444;
    z-index: 1;
}

canvas {
    background-color: black;
    border-radius: 16px;
    box-shadow: 0px 0px 130px 79px #FDEAD5;
    display: block;
}






.startScreen {
    width: 1024px;
    height: 480px;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-43%);

}


.BGImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.startGame{
    border: none;
    background-color: lightgreen;
    padding: 12px 32px;
    border-radius: 8px;
    cursor: pointer;
    position: fixed;
    left: 0;
    bottom: 0;
}




@media only screen and (max-width: 1024px) and (max-aspect-ratio: 1/1) {
    canvas {
        width: 100%;
        border-radius: 0px;
    }

    h1 {
        display: none;
    }

    .startScreen{
        width: 100%;
        border-radius: 0;
        transform: translateY(-50%);
    }

    .BGImage {
        border-radius: 0px;
        object-fit: contain;
    }

}

@media only screen and (max-width: 1024px) and (min-aspect-ratio: 1/1) {
    canvas {
        width: 100%;
        border-radius: 0px;
    }

    h1 {
        display: none;
    }

    .startScreen{
        width: 100%;
        border-radius: 0;
        transform: translateY(-50%);
    }

    .BGImage {
        border-radius: 0px;
        object-fit: cover;
    }

}





@media only screen and (max-height: 480px) {
    canvas {
        height: 100dvh;
        border-radius: 0px;
    }

    h1 {
        display: none;
    }

    .startScreen {
        height: 100dvh;
        border-radius: 0;
    }
    .BGImage {
        border-radius: 0px;
    }
}

/* @media only screen and (max-width: 850px) {
    .BGImage {
        object-fit: contain;
        border-radius: 0px;
    }
} */

